html, body {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* header */
#app-header {
  flex-shrink: 0;
}

/* konten utama */
#app-main {
  flex: 1;
  padding: 16px;
}

/* footer */
#app-footer {
  flex-shrink: 0;
}
